<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Martín Martincorena</title>
</head>

<body>
    <div class="todo">
    <div class="conteinerPerfil">

        <div class="perfil">
            <div class="fotoCV">
                <img class="foto" src="/img/foto-cv.png" alt="Foto de perfil: Martín Martincorena">
                <h1>MARTÍN <br> MARTINCORENA</h1>
            </div>
        </div>
        <div class="cuerpoDatos">

            <div class="detallesPerfil">
                <a href="https://www.google.com/">
                    <div class="fila">
                        <img class="iconoPerfil" src="/img/iconos/iconosPerfil/icono-CELULAR.png"
                            alt="icono de celular">
                        <div class="detalleIcono">(+598) 92 85 54 12</div>
                    </div>
                </a>

                <a href="https://www.google.com/">
                    <div class="fila">
                        <img class="iconoPerfil" src="/img/iconos/iconosPerfil/icono-MAIL.png"
                            alt="icono de mail">
                        <div class="detalleIcono">martinmartincorena@gmail.com</div>
                    </div>
                </a>

                <a href="https://www.google.com/">
                    <div class="fila">
                        <img class="iconoPerfil" src="/img/iconos/iconosPerfil/icono-Git.png"
                            alt="icono de ithub">
                        <div class="detalleIcono">MMartincorena</div>
                    </div>
                </a>

                <a href="https://www.google.com/">
                    <div class="fila">
                        <img class="iconoPerfil" src="/img/iconos/iconosPerfil/icono-LinkedIn.png"
                            alt="icono de LinkedIn">
                        <div class="detalleIcono">Martín Martincorena</div>

                    </div>
                </a>
            </div>

            <div class="sobreMi">
                <h2>SOBRE MI</h2>
                <hr>
                <p>Soy una persona organizada y con gran motivación en aprender,
                    capaz de adaptarme a cualquier circunstancia y dar siempre lo
                    mejor de mí en cualquier proyecto, al mismo tiempo que me esfuerzo
                    por trabajar en equipo y fomentar valores del compañerismo y respeto.
                </p>

                <ul>
                    <li>Sentido de la responsabilidad.</li>
                    <li>Capacidad de análisis.</li>
                    <li>Gestión de estrés y presión.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cuerpoDetalles">

        <div class="panelIzquierdo">

            <div class="seccion">
            <div class="titulo">
                <div class="paralelogramo"></div>
                <div class="filaAlgo">
                    <img class="iconoDetalle" src="/img/iconos/iconosDetalles/icono-Sombrero.png"
                        alt="icono de educación">
                    <p class="nombreSeccion"> EDUCACIÓN</p>
                </div>
            </div>
            <div class="lista">
                <p class="texLugar"><b>UTEC</b></p>
                <p class="texDetalle"><b>Licenciatura</b> <br> Tecn. de la Información</p>
                <p class="estado"> A </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>ITSP</b></p>
                <p class="texDetalle"><b>Tecnicatura</b> <br> RRHH</p>
                <p class="estado">  </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>ITSP</b></p>
                <p class="texDetalle"><b>Tecnicatura</b> <br> Adm. de empresas</p>
                <p class="estado">  </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>UTN</b></p>
                <p class="texDetalle"><b>Ingeniería</b> <br>Electromecánica</p>
                <p class="estado"> I </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>ITSP</b></p>
                <p class="texDetalle"><b>Bachillerato</b> <br>Informática</p>
                <p class="estado">  </p>
            </div>
        </div>

        <div class="seccion">
            <div class="titulo">
                <div class="paralelogramo"></div>
                <div class="filaAlgo">
                    <img class="iconoDetalle" src="/img/iconos/iconosDetalles/icono-EXP.png"
                        alt="icono de experiencia laboral">
                    <p class="nombreSeccion"> EXP. LABORAL</p>
                </div>
            </div>
                <div class="lista">
                    <p class="texLugar"><b>Docencia <br> UTU</b></p>
                    <p class="texDetalle"> 
                        Informática aplicada<br>
                        Lab. de informatica
                    </p>
                </div>
            <div class="lista">
                <p class="texLugar"><b>Freelance</b></p>
                <p class="texDetalle"> 
                    Diseño de páginas web <br>
                    Folletos <br>
                    Logos
                </p>
            </div>
        </div>
        </div>

        


        <div class="panelDerecho">
            <div class="seccion">

            <div class="titulo">
                <div class="paralelogramo"></div>
                <div class="filaAlgo">
                    <img class="iconoDetalle" src="/img/iconos/iconosDetalles/icono-PC.png"
                        alt="icono de cursos">
                    <p class="nombreSeccion"> CURSOS</p>
                </div>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Digital <br> House</b></p>
                <p class="texDetalle">Programación <br>Full Stack</p>
                <p class="estado"> A </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Punto <br> Com</b></p>
                <p class="texDetalle">
                    Diseño gráfico <br>
                    Tec. mant. PC
                </p>
                <p class="estado">  </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Platzi</b></p>
                <p class="texDetalle">Test. Videojuegos</p>
                <p class="estado">  </p>
            </div>
        </div>

            <div class="seccion">
             <div class="titulo">
                    <div class="paralelogramo"></div>
                    <div class="filaAlgo">
                        <img class="iconoDetalle" src="/img/iconos/iconosDetalles/icono-Libro.png"
                            alt="icono de idiomas">
                        <p class="nombreSeccion"> IDIOMAS</p>
                    </div>
                </div>
                <div class="lista">
                    <p class="texLugar"><b>Español</b></p>
                    <p class="texDetalle">Nativo</p>
                    <p class="estado">  </p>
                </div>
                <div class="lista">
                    <p class="texLugar"><b>Inglés </b></p>
                    <p class="texDetalle">B1+</p>
                    <p class="estado">  </p>
                </div>
            </div>

            <div class="seccion">
                <div class="tituloExtra">
                    <div class="paralelogramo"></div>
                    <div class="filaAlgo">
                        <p class="nombreSeccionExtra"> DATOS EXTRAS</p>
                    </div>
                </div>
                <p class="detalleExtra">Actualmente, becario de UTEC. <br>
                Representante de Uruguay 
                 en los clubes de ciencia internacional INTEL ISEF 
                 (The INTEL International Science and Engineering Fair),
                 2011 realizado en Los Ángeles, USA.
                </p>
            </div>
            <a href="/downloadFiles/M.Martincorena.pdf" download="CV - M.Martincorena.pdf">
                <button><b>Descargar CV</b></button>
            </a>
        </div>
        
    </div>
    </div>

    </div>
</div>
</body>

</html>